
.searcharea {
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
    text-align: center;
}
input[type=text] {
    background-color: white;
    background-image: url("/images/outline_search_black_24dp.png"), url("/images/googlemic_color_24dp.png");
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    padding-left: 40px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li {
    float: left;
}
.nav a {
    display: inline;
    padding: 8px;
}
#sign-in {
    color: white;
    background-color:  #4285f4;
    font-weight: bold;
    outline: none;
}